#main {
  width: 40%;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 20px;
  h1 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .panel-heading {
    font-size: 1.0em;
  }
}

.field {
  display: flex;
  justify-content: space-between;

  .label {
    margin-top: 5px;
    width: 40%;
  }

  .control {
    width: 60%;
    flex-grow: 1;
  }

}

.app-header {
  font-size: 1.25em;
  text-align: center;
}
